src/main/resources/xsd/ALD_U_N_2B_B10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sdf="http://www.gael.fr/2004/12/drb/sdf" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- ========================================= -->
  <!--           MAIN PRODUCT HEADER   -->
  <!-- ========================================= -->
  <xs:complexType name="MPH_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">MPH</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: Product -->
      <xs:element name="PRODUCT" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product File name</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>62</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Processing stage code -->
      <xs:element name="PROC_STAGE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing Stage Flag</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 3: Reference DFCB -->
      <xs:element name="REF_DOC" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference Document Describing Product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>23</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 4: Spare -->
      <!-- Field 5: Acquisition station -->
      <xs:element name="ACQUISITION_STATION" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Acquisition Station ID</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">62</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>20</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 6: Processing center -->
      <xs:element name="PROC_CENTER" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Processing Center ID which generated current product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">13</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 7: Processing time -->
      <xs:element name="PROC_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC Time of Processing</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 8: Software version / Processor name -->
      <xs:element name="SOFTWARE_VER" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Software Version number of processing software</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">14</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>14</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 9: Baseline -->
      <xs:element name="BASELINE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baseline identifier (as provided by the Job Order File)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>29</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 10: Sensing start -->
      <xs:element name="SENSING_START" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC start time of data sensing</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 11: Sensing stop -->
      <xs:element name="SENSING_STOP" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC stop time of data sensing</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">14</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 12: Spare -->
      <!-- Field 13: Mission phase -->
      <xs:element name="PHASE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Phase</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">47</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 14: Cycle number -->
      <xs:element name="CYCLE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cycle</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">6</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:minInclusive value="-999" />
            <xs:maxInclusive value="+999" />
            <xs:pattern value="\+[0-9]{3}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 15: Relative orbit number -->
      <xs:element name="REL_ORBIT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start relative orbit number</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="-99999" />
            <xs:maxInclusive value="+99999" />
            <xs:pattern value="\+[0-9]{5}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 16: Absolute orbit number -->
      <xs:element name="ABS_ORBIT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start absolute orbit number</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="-99999" />
            <xs:maxInclusive value="+99999" />
            <xs:pattern value="\+[0-9]{5}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 17: State vector time -->
      <xs:element name="STATE_VECTOR_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC state vector time</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">19</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 18: Delta UT1 -->
      <xs:element name="DELTA_UT1" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">DUT1=UT1-UTC</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>8</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 19: X_POSITION -->
      <xs:element name="X_POSITION" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">X Position in Earth-Fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 20: Y_POSITION -->
      <xs:element name="Y_POSITION" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Y Position in Earth-Fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 21: Z_POSITION -->
      <xs:element name="Z_POSITION" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Z Position in Earth-Fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">4</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 22: X_VELOCITY -->
      <xs:element name="X_VELOCITY" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">X velocity in Earth fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">6</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 23: Y_VELOCITY -->
      <xs:element name="Y_VELOCITY" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Y velocity in Earth fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">6</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 24: Z_VELOCITY -->
      <xs:element name="Z_VELOCITY" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Z velocity in Earth fixed reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">6</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>12</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 25: Vector Source -->
      <xs:element name="VECTOR_SOURCE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Source of Orbit Vectors</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 26: Spare -->
      <!-- Field 27: UTC_SBT_TIME -->
      <xs:element name="UTC_SBT_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC time corresponding to SBT below</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">55</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 28: SAT_BINARY_TIME -->
      <xs:element name="SAT_BINARY_TIME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Satellite Binary Time (SBT)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">16</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 29: CLOCK_STEP -->
      <xs:element name="CLOCK_STEP" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Clock Step Size</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">11</sdf:padding>
              <sdf:padding type="footer">5</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 30: Spare -->
      <!-- Field 31: Leap second time -->
      <xs:element name="LEAP_UTC" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">UTC time of the occurrence of the Leap Second</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">43</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>27</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 32: Gps Utc Time Difference -->
      <xs:element name="GPS_UTC_TIME_DIFFERENCE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seconds of GPS UTC time difference before time of occurrence of the leap seoncd</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">24</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:minInclusive value="-1" />
            <xs:maxInclusive value="+1" />
            <xs:pattern value="\+[0-9]{3}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 33: Leap second sign -->
      <xs:element name="LEAP_SIGN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leap second sign</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:short">
            <xs:minInclusive value="-1" />
            <xs:maxInclusive value="+1" />
            <xs:pattern value="\+[0-9]{3}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 34: Leap second error -->
      <xs:element name="LEAP_ERR" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leap second error</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">13</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 35: Spare -->
      <!-- Field 36: Product error -->
      <xs:element name="PRODUCT_ERR" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">1 or 0. If 1, errors have been reported in the product. User should then refer to the SPH or Summary Quality ADS of the product for details of the error condition. If not used, set to 0.r</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">12</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 37: Product total size -->
      <xs:element name="TOT_SIZE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total Size Of Product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>21</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0" />
            <xs:minInclusive value="-99999999999999999999" />
            <xs:maxInclusive value="+99999999999999999999" />
            <xs:minExclusive value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 38: Length of SPH -->
      <xs:element name="SPH_SIZE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length Of SPH</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:long">
            <xs:minInclusive value="-9999999999" />
            <xs:maxInclusive value="+9999999999" />
            <xs:minExclusive value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 39: Number of DSDs -->
      <xs:element name="NUM_DSD">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of DSDs</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:long">
            <xs:minInclusive value="-9999999999" />
            <xs:maxInclusive value="+9999999999" />
            <xs:minExclusive value="0" />
            <xs:pattern value="\+[0-9]{10}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 40: Size of DSD -->
      <xs:element name="DSD_SIZE">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length of Each DSD</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:long">
            <xs:minInclusive value="-9999999999" />
            <xs:maxInclusive value="+9999999999" />
            <xs:minExclusive value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 41: Number of DSs -->
      <xs:element name="NUM_DATA_SETS">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of DSs attached</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">14</sdf:padding>
              <sdf:padding type="footer">42</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:long">
            <xs:minInclusive value="-9999999999" />
            <xs:maxInclusive value="+9999999999" />
            <xs:minExclusive value="0" />
            <xs:pattern value="\+[0-9]{10}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 42: Spare -->
    </xs:sequence>
  </xs:complexType>
  <!-- ========================================= -->
  <!--         SPECIFIC PRODUCT HEADER -->
  <!--               ALD_U_N_2B   -->
  <!-- ========================================= -->
  <xs:complexType name="SPH_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPH</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: SPH Descriptor-->
      <xs:element name="SPH_DESCRIPTOR" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">SPH Descriptor</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">16</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>28</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Spare -->
      <!-- Field 3: NUM_MEASUREMENTS-->
      <xs:element name="NUM_MEASUREMENTS" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of L1B measurements used in the product</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">57</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 4: NUM_MIE_GROUPS-->
      <xs:element name="NUM_MIE_GROUPS" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of measurement groups generated for the Mie channel</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">13</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 5: NUM_RAYLEIGH_GROUPS-->
      <xs:element name="NUM_RAYLEIGH_GROUPS" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of measurement groups generated for the Rayleigh channel</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">18</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 6: NumBRCs-->
      <xs:element name="NumBRCs" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of L1B BRCs that have been selected for L2B processing (this may differ from the number available in the input file due to the time window that can be applied in the JobOrder file.)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 7: NUM_MIE_WIND_RESULTS-->
      <xs:element name="NUM_MIE_WIND_RESULTS" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Mie channel wind retrievals performed on accumulated measurement data</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">18</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 8: NUM_RAYLEIGH_WIND_RESULTS-->
      <xs:element name="NUM_RAYLEIGH_WIND_RESULTS" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Rayleigh channel wind retrievals performed on accumulated measurement data</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">23</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 7: NUM_MIE_PROFILES-->
      <xs:element name="NUM_MIE_PROFILES" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Mie channel wind profiles generated from the individual wind retrievals</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 8: NUM_RAYLEIGH_PROFILES-->
      <xs:element name="NUM_RAYLEIGH_PROFILES" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Rayleigh channel wind profiles generated from the individual wind retrievals</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">20</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 9: NUM_AMD_PROFILES-->
      <xs:element name="NUM_AMD_PROFILES" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of AMD profiles presented to the L2B processing stage</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">15</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 10: FIRST_PROCESSED_L1B_BRC-->
      <xs:element name="FIRST_PROCESSED_L1B_BRC" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Index of first L1B BRC that was processed by the L2BP</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">24</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 11: LAST_PROCESSED_L1B_BRC-->
      <xs:element name="LAST_PROCESSED_L1B_BRC" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Index of last L1B BRC that was processed by the L2BP</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">23</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 12: TOTAL_NUM_L1B_BRCs-->
      <xs:element name="TOTAL_NUM_L1B_BRCs" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total number of L1B BRCs that have been processed by the L2BP</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">19</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 13: Intersect_Start_Lat-->
      <xs:element name="INTERSECT_START_LAT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Latitude of the intersection of WGS84 DEM and the satellite line-of-sight for the first measurement (first measurement centroid time of the first BRC)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">20</sdf:padding>
              <sdf:padding type="footer">11</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:long">
            <xs:minInclusive value="-9999999999" />
            <xs:maxInclusive value="+9999999999" />
            <xs:pattern value="\+[0-9]{10}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 14: Intersect_Start_Long-->
      <xs:element name="INTERSECT_START_LONG">
        <xs:annotation>
          <xs:documentation xml:lang="en">Longitude of the intersection of WGS84 DEM and the satellite line-of-sight for the first measurement (first measurement centroid time of the first BRC)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">21</sdf:padding>
              <sdf:padding type="footer">11</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:long">
            <xs:minInclusive value="-9999999999" />
            <xs:maxInclusive value="+9999999999" />
            <xs:pattern value="\+[0-9]{10}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 15: Intersect_Stop_Lat-->
      <xs:element name="INTERSECT_STOP_LAT">
        <xs:annotation>
          <xs:documentation xml:lang="en">Latitude of the intersection of WGS84 DEM and the satellite line-of-sight for the first measurement (first measurement centroid time of the first BRC)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">19</sdf:padding>
              <sdf:padding type="footer">11</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:long">
            <xs:minInclusive value="-9999999999" />
            <xs:maxInclusive value="+9999999999" />
            <xs:pattern value="\+[0-9]{10}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 16: Intersect_Stop_Long-->
      <xs:element name="INTERSECT_STOP_LONG">
        <xs:annotation>
          <xs:documentation xml:lang="en">Longitude of the intersection of WGS84 DEM and the satellite line-of-sight for the first measurement (first measurement centroid time of the first BRC)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">20</sdf:padding>
              <sdf:padding type="footer">11</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:long">
            <xs:minInclusive value="-9999999999" />
            <xs:maxInclusive value="+9999999999" />
            <xs:pattern value="\+[0-9]{10}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Field 17: Sat_Track -->
      <xs:element name="SAT_TRACK" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Sub-satellite track heading (nadir) at the sensing start time in the MPH</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">47</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 18: Spare -->
      <!-- Field 19: LIST_OF_VALID_MIE_PROFILE_COUNTS  -->
      <xs:element name="LIST_OF_VALID_MIE_PROFILE_COUNTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="VALID_MIE_PROFILE_COUNT" type="COUNT_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 20: LIST_OF_VALID_RAYLEIGH_PROFILE_COUNTS  -->
      <xs:element name="LIST_OF_VALID_RAYLEIGH_PROFILE_COUNTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="VALID_RAYLEIGH_PROFILE_COUNT" type="COUNT_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 21: LIST_OF_INVALID_MIE_PROFILE_COUNTS  -->
      <xs:element name="LIST_OF_INVALID_MIE_PROFILE_COUNTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INVALID_MIE_PROFILE_COUNT" type="COUNT_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 22: LIST_OF_INVALID_RAYLEIGH_PROFILE_COUNTS  -->
      <xs:element name="LIST_OF_INVALID_RAYLEIGH_PROFILE_COUNTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INVALID_RAYLEIGH_PROFILE_COUNT" type="COUNT_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 23: NUM_PROFILES_SURFACE_MIE-->
      <xs:element name="NUM_PROFILES_SURFACE_MIE" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Mie profiles reported in L2B extending down to the surface</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">25</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 24: NUM_PROFILES_SURFACE_RAYLEIGH-->
      <xs:element name="NUM_PROFILES_SURFACE_RAYLEIGH" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Rayleigh profiles reported in L2B extending down to the surface</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">25</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 25: LIST_OF_VALID_MIE_WIND_COUNTS  -->
      <xs:element name="LIST_OF_VALID_MIE_WIND_COUNTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="VALID_MIE_WIND_COUNT" type="COUNT_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 26: LIST_OF_VALID_RAYLEIGH_WIND_COUNTS  -->
      <xs:element name="LIST_OF_VALID_RAYLEIGH_WIND_COUNTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="VALID_RAYLEIGH_WIND_COUNT" type="COUNT_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 27: LIST_OF_INVALID_MIE_WIND_COUNTS  -->
      <xs:element name="LIST_OF_INVALID_MIE_WIND_COUNTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INVALID_MIE_WIND_COUNT" type="COUNT_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 28: LIST_OF_INVALID_RAYLEIGH_WIND_COUNTS  -->
      <xs:element name="LIST_OF_INVALID_RAYLEIGH_WIND_COUNTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INVALID_RAYLEIGH_WIND_COUNT" type="COUNT_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 30: Spare -->
      <xs:element name="Spare_1" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>41</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 31: LIST_OF_OB_MIE_RESULTS  -->
      <xs:element name="LIST_OF_OB_MIE_RESULTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OB_MIE_RESULT" type="OB_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 32: LIST_OF_OB_RAYLEIGH_RESULTS  -->
      <xs:element name="LIST_OF_OB_RAYLEIGH_RESULTS">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OB_RAYLEIGH_RESULT" type="OB_TYPE" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>5</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 33: Spare -->
      <xs:element name="Spare_2" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spare</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>41</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ======================================================== -->
  <!--    AEOLUS ALD_U_N_2B.DBL COUNT TYPE  -->
  <!-- ======================================================== -->
  <xs:complexType name="COUNT_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">Table 14: Count Type Description. Note that in the HDR file the XML items are surrounded by extra tags not present in the DBL file. These are added as first item in this table</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: Comment-->
      <xs:element name="Comment" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Comment describing what data (channel, classification) was used for deriving this count result</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">3</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>50</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Classification Type-->
      <xs:element name="Classification_Type" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Classification type for which the current counts are reported</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">19</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Count -->
      <xs:element name="Count" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Count of the amount of winds or profiles reported for the current classification type</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">5</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ======================================================== -->
  <!--    AEOLUS ALD_U_N_2B.DBL OB TYPE          -->
  <!-- ======================================================== -->
  <xs:complexType name="OB_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">Table 15: O-B per class Type Description. Note that in the HDR file the XML items are surrounded by extra tags not present in the DBL file. These are added as first item in this table</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: Comment-->
      <xs:element name="Comment" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Comment describing what data (channel, classification) was used for deriving this O-B result</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">3</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>50</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: All -->
      <xs:element name="All">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OB_RESULT" type="OB_RESULT_TYPE" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>1</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Field 3: List_of_Bins -->
      <xs:element name="List_of_Bins">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OB_RESULT" type="OB_RESULT_TYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <sdf:block>
                    <sdf:occurrence>24</sdf:occurrence>
                  </sdf:block>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ======================================================== -->
  <!--    AEOLUS ALD_U_N_2B.DBL OB TYPE          -->
  <!-- ======================================================== -->
  <xs:complexType name="OB_RESULT_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">Table 16: O-B result description</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: Bin_Index -->
      <xs:element name="Bin_Index" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Range bin index used for selecting the data for this O-B result. In case all range bins are combined, this index value is set to zero.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Hlos_Diff_Std -->
      <xs:element name="Hlos_Diff_Std" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Standard deviation of O-B difference for the selected range bin wind data.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">13</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 3: Mean_Hlos_Bias -->
      <xs:element name="Mean_Hlos_Bias" type="xs:short">
        <xs:annotation>
          <xs:documentation xml:lang="en">Mean of O-B difference for the selected range bin wind data.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">14</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>6</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 4: Num_Incl_Wind_Results -->
      <xs:element name="Num_Incl_Wind_Results" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of wind results included in the reported O-B statistics</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">21</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ========================================= -->
  <!--        DATASET DESCRIPTION HEADER    -->
  <!--               ALD_U_N_2B   -->
  <!-- ========================================= -->
  <xs:complexType name="DSD_HEADER_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">DSD HEADER</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: DS Name-->
      <xs:element name="DS_NAME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name describing the dataset.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>28</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: DS Type-->
      <xs:element name="DS_TYPE" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of dataset. It can be M = Measurement, R = Reference</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>1</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 3: External File Name -->
      <xs:element name="FILENAME" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the reference file. Used if DS_TYPE is set to R. It is left justified with trailing blanks. The file name includes the extension. If not used it is set to 62 blanks</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">2</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>62</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 4: DS Offset-->
      <xs:element name="DS_OFFSET" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length in bytes of MPH + SPH (including DSDs) + size of previous datasets (if any)</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">10</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>21</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 5: DS Size-->
      <xs:element name="DS_SIZE" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length in bytes of the attached dataset. Used if DS_TYPE is set to M. If not used set to 0</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 6: Number of DSRs -->
      <xs:element name="NUM_DSR" type="xs:unsignedLong">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of dataset records</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">8</sdf:padding>
              <sdf:padding type="footer">1</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 7: Length of DSRs -->
      <xs:element name="DSR_SIZE" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length in bytes of the dataset record. If not used set to +0. If variable set to -1</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">9</sdf:padding>
              <sdf:padding type="footer">8</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>11</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 8: Byte Order -->
      <xs:element name="BYTE_ORDER" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">"3210" for binary DSs to designate byte order is most significant byte first</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:padding type="header">12</sdf:padding>
              <sdf:padding type="footer">35</sdf:padding>
              <sdf:encoding>ASCII</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 9: Spare -->
    </xs:sequence>
  </xs:complexType>
  <!-- ======================================================== -->
  <!--    AEOLUS ALD_U_N_2B.DBL GEOLOCATION ADS Content    -->
  <!-- ======================================================== -->
  <xs:complexType name="GEOLOCATION_ADS_CONTENT_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">Table 25: L2B/L2C Geolocation ADS Content Description</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: wind_result_id-->
      <xs:element name="wind_result_id" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">a unique id for this wind for this channel in this L2B file. Each channel has its own sequence of id numbers and both start counting at 1</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Start_of_Obs_Time-->
      <xs:element name="Start_of_Obs_Time_Day" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start_of_Obs_Time (UTC): Day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Start_of_Obs_Time_Second" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start_of_Obs_Time (UTC): Second of day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Start_of_Obs_Time_Microsecond" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start_of_Obs_Time (UTC): Microsecond part</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 3: WindResult_Geolocation-->
      <xs:element name="WindResult_Geolocation" type="WindResult_Geolocation_TYPE" />
    </xs:sequence>
  </xs:complexType>
  <!-- ======================================================== -->
  <!--    AEOLUS ALD_U_N_2B.DBL  WindResult_Geolocation_TYPE    -->
  <!-- ======================================================== -->
  <xs:complexType name="WindResult_Geolocation_TYPE">
    <xs:annotation>
      <xs:documentation xml:lang="en">Table 26: WindResult_Geolocation Content Description</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Field 1: Altitude_Bottom-->
      <xs:element name="Altitude_Bottom" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Bottom altitude for this accumulation. The altitude is referenced to the EGM96 geoid</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 2: Altitude_VCOG-->
      <xs:element name="Altitude_VCOG" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Vertical COG altitude for this accumulation. The altitude is referenced to the EGM96 geoid.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 3: Altitude_Top-->
      <xs:element name="Altitude_Top" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Top altitude for this accumulation. The altitude is referenced to the EGM96 geoid</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 4: SatRange_Bottom-->
      <xs:element name="SatRange_Bottom" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">range to satellite from bottom of range bin for this accumulation</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 5: SatRange_VCOG-->
      <xs:element name="SatRange_VCOG" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">range to satellite from VCOG of range bin for this accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 6: SatRange_Top-->
      <xs:element name="SatRange_Top" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">range to satellite from top of range bin for this accumulation</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 7: Latitude_Start-->
      <xs:element name="Latitude_Start" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start latitude at the top of the range bin for this accumulation</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 8: Latitude_COG-->
      <xs:element name="Latitude_COG" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">CoG latitude at the top of the range bin for this accumulation</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 9: Latitude_Stop-->
      <xs:element name="Latitude_Stop" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Stop latitude at the top of the range bin for this accumulation</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 10: Longitude_Start-->
      <xs:element name="Longitude_Start" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Start longitude at the top of the range bin for this accumulation</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 11: Longitude_COG-->
      <xs:element name="Longitude_COG" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">CoG longitude at the top of the range bin for this accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 12: Longitude_Stop-->
      <xs:element name="Longitude_Stop" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Stop longitude at the top of the range bin for this accumulation..</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 13: DateTime_Start-->
      <xs:element name="DateTime_Start_Day" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_Start (UTC): Day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTime_Start_Second" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_Start (UTC): Second of day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTime_Start_Microsecond" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_Start (UTC): Microsecond part</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 14: DateTime_COG-->
      <xs:element name="DateTime_COG_Day" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_COG (UTC): Day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTime_COG_Second" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_COG (UTC): Second of day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTime_COG_Microsecond" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_COG (UTC): Microsecond part</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 15: DateTime_Stop-->
      <xs:element name="DateTime_Stop_Day" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_Stop (UTC): Day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTime_Stop_Second" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_Stop (UTC): Second of day</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTime_Stop_Microsecond" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation xml:lang="en">DateTime_Stop (UTC): Microsecond part</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 16: LOS_Azimuth-->
      <xs:element name="LOS_Azimuth" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Topocentric Azimuth of the target-to-satellite pointing vector measured clockwise from north.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>8</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 17: LOS_Elevation_Bottom-->
      <xs:element name="LOS_Elevation_Bottom" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elevation of the target-to-satellite pointing vector to the bottom of the range bin for this accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>8</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 18: LOS_Elevation_VCOG-->
      <xs:element name="LOS_Elevation_VCOG" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elevation of the target-to-satellite pointing vector to the VCOG of the range bin for this accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>8</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 19: LOS_Elevation_Top-->
      <xs:element name="LOS_Elevation_Top" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elevation of the target-to-satellite pointing vector to the top of the range bin for this accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>8</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 20: LOS_Satellite_Velocity-->
      <xs:element name="LOS_Satellite_Velocity" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="en">Line-of-sight velocity of the satellite.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>8</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 21: Which_cog_L1B_BRC-->
      <xs:element name="Which_cog_L1B_BRC" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Index number for the L1B BRC that contains the cog measurement for this accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 22: Which_cog_L1B_Meas_in_this_BRC -->
      <xs:element name="Which_cog_L1B_Meas_in_this_BRC" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation xml:lang="en">Index number for the L1B measurement within the L1B BRC referenced by the above Which_- cog_L1B_BRC index, that corresponds to the cog measurement for this accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>2</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 23: Lat_of_DEM_Intersection -->
      <xs:element name="Lat_of_DEM_Intersection" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Latitude of DEM intersection for the CoG of the current accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 24: Lon_of_DEM_Intersection -->
      <xs:element name="Lon_of_DEM_Intersection" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Longitude of DEM intersection for the CoG of the current accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 26: Alt_of_DEM_Intersection -->
      <xs:element name="Alt_of_DEM_Intersection" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Altitude of DEM intersection for the CoG of the current accumulation.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 27: Arg_of_Lat_of_DEM_Intersection -->
      <xs:element name="Arg_of_Lat_of_DEM_Intersection" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Argument of Latitude of DEM intersection for the CoG of the current accumulation. Note that this field contains the orbit phase and not a real Latitude. Therefore its unit must be deg and not degN.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 28: WGS84_to_Geoid_Altitude -->
      <xs:element name="WGS84_to_Geoid_Altitude" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="en">Height of EGM96 geoid above WGS84 ellipsoid.</xs:documentation>
          <xs:appinfo>
            <sdf:block>
              <sdf:encoding>BINARY</sdf:encoding>
              <sdf:length>4</sdf:length>
              <sdf:padding type="footer">3</sdf:padding>
            </sdf:block>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <!-- Field 29: Spare -->
    </xs:sequence>
  </xs:complexType>
  <!-- ========================================= -->
  <!--           ELEMENT DEFINITION    -->
  <!-- ========================================= -->
  <xs:element name="DBLFILE">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation xml:lang="en">AEOLUS ALD_U_N_1B DBL.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <!-- Main Product Header -->
        <xs:element name="MPH" type="MPH_TYPE" />
        <!-- Specific Product Header -->
        <xs:element name="SPH" type="SPH_TYPE" />
        <!-- Dataset Descriptions -->
        <xs:element name="DSDS">
          <xs:annotation>
            <xs:documentation xml:lang="en" />
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DSD" type="DSD_HEADER_TYPE" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <sdf:block>
                      <sdf:occurrence query="../../MPH/NUM_DSD" />
                    </sdf:block>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Datasets -->
        <!-- Spare -->
        <xs:element name="Spare" type="xs:string">
          <xs:annotation>
            <xs:documentation xml:lang="en">Non-implemented datasets</xs:documentation>
            <xs:appinfo>
              <sdf:block>
                <sdf:encoding>BINARY</sdf:encoding>
                <sdf:length query="../../DSDS/DSD[matches(DS_NAME, '.*Mie_Geolocation_ADS.*')]/DS_OFFSET - ../../MPH/SPH_SIZE - 1247" />
              </sdf:block>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <!-- Mie_Geolocation_ADS -->
        <xs:element name="Mie_Geolocation_ADSs">
          <xs:annotation>
            <xs:documentation xml:lang="en" />
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Mie_Geolocation_ADS" type="GEOLOCATION_ADS_CONTENT_TYPE" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <sdf:block>
                      <sdf:occurrence query="../../DSDS/DSD[matches(DS_NAME, '.*Mie_Geolocation_ADS.*')]/NUM_DSR" />
                    </sdf:block>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Rayleigh_Geolocation_ADS -->
        <xs:element name="Rayleigh_Geolocation_ADSs">
          <xs:annotation>
            <xs:documentation xml:lang="en" />
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rayleigh_Geolocation_ADS" type="GEOLOCATION_ADS_CONTENT_TYPE" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <sdf:block>
                      <sdf:occurrence query="../../DSDS/DSD[matches(DS_NAME, '.*Rayleigh_Geolocation_ADS.*')]/NUM_DSR" />
                    </sdf:block>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
